/.vscode
/logs
/output
/target
/test.ipynb
/docker/jars
/videos
/target
fil_rouge_1/spark_consumer/checkpoint/
fil_rouge_1/spark_consumer/metastore_db/
fil_rouge_1/spark_consumer/output/
__pycache__/
*.pyc
*.pyo
*.pyd
traffic_analysis-master/logs
traffic_analysis-master/scripts
traffic_analysis-master/data1.parquet
